---
---
@charset "utf-8";



/* F O N T + T Y P E S C A L E –––––––––––––––––––––––*/

$base-font-family: "Gibson", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif-font-family: Georgia, serif;

$base-font-weight: 400;
$bold-font-weight: 700;

/*–––––––––––––––––––––––––––––
modularscale.com // Major Third Ratio
––––––––––––––––––––––––––––––*/

$type-unit:         1.25;
$type-ratio:        4 / 5;
$large-font-size:   1.25rem;
$base-font-size:    16px;
$small-font-size:   0.8rem;
$h4:                1.25rem;
$h3:                1.563rem;
$h2:                1.953rem;
$h1:                2.441rem;
$title:             3.052rem;
$base-line-height:  1.563rem;


/* C O L O R S ––––––––––––––––––––––––––––––––––––*/

$text-color:       #1a1c23;
$alt-text-color:   #fdfdfd;
$background-color: #fdfdfd;

$redstar:          #FF0038;
$cosmic:           #9f82ff;
$solaris:          #7fcaff;
$nebula:           #00ca8d;
$supernova:        #12E3DB;
$cantaloupe:       #ffcaa9;

$mercury:          #c7cbd9;
$silver:           #9da4bf;
$nickel:           #6b717d;
$steel:            #5c6370;
$iron:             #424858;
$tungsten:         #252830;
$deepspace:        #1a1c23;


/* R E S P O N S I V E ––––––––––––––––––––––––––––––*/

$content-width: 800px;
$base-spacing:  1rem;

$bp-sm-hand:    480px;
$bp-lg-hand:    568px;
$bp-sm-lap:     768px;
$bp-lg-lap:     1024px;
$bp-sm-desk:    1440px;
$bp-lg-desk:    2560px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


/* F L E X B O X ––––––––––––––––––––––––––––––––––––*/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

.item {
  @include flex(1 200px);
  @include order(2);
}


/* I M P O R T ––––––––––––––––––––––––––––––––––––*/

@import
  "base",
  "flexbox",
  "svg",
  "syntax-highlighting",
  "custom";
