---
layout: blank
title: Image Grid
permalink: /image-grid/
---

<div class="row center-xs">
  <div class="col-xs-12"><div class="hero">Image Grid List / 2 Columns</div></div>
</div>

<div class="row">
  {% for patterns in site.data.images %}
  <div class="no-gutters col-xs-6 col-sm-4 col-md-4 col-lg-3 flex-start">
    <div class="image-grid-item">
      <svg class="flex-grid-image">
        <mask><rect x="100" y="100"/></mask>
        <g mask="url(#mask)"><img src="{{ patterns.image }}" width="100%" height="100%"/></g>
      </svg>
    </div>
  </div>
  {% endfor %}
</div>

<!--
<div class="row">
  {% for patterns in site.data.images %}
  <div class="no-gutters col-xs-6 col-sm-4 col-md-4 col-lg-3 flex-start">
    <div class="image-grid-item">
      <svg class="pattern-svg" x="0px" y="0px" width="100%" height="100%">
        <img src="{{ patterns.image }}"/>
      </svg>
    </div>
  </div>
  {% endfor %}
</div>
-->
