body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #fff;
}

pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

pre, ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $base-spacing;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul, ol {
  margin-left: $base-spacing;

  li {
    margin-bottom: $base-spacing / 2;
  }
}

a {
  border-bottom: 2px solid $deepspace;
  color: $text-color;
  padding: 0.10em;
  text-decoration: none;

  &:hover {
    border-bottom: 3px solid $deepspace;
    padding: 0.10em;
    text-decoration: none;
  }
}

pre,
code {
  font-size: $small-font-size;
  border: 1px solid $mercury;
  border-radius: 3px;
  background-color: #eef;
  white-space: pre;
  word-wrap: normal;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.canvas {
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
  @extend %clearfix;
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$base-spacing}));
  max-width:         calc(#{$content-width} - (#{$base-spacing}));
  margin-right: auto;
  margin-left: auto;
  padding: $base-spacing;
  @extend %clearfix;
}

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $deepspace;
    }
  }
}
