/*===================================================
  SET BASE
===================================================*/
body, h1, h2, h3, h4, p, small, blockquote {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, small, blockquote,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}


/*===================================================
  SPECIAL
===================================================*/
code {
  color: #007FFF;
}

small {
  font-size: $small-font-size;
  line-height: 1;
}

h1, h2, h3, h4 {
  font-weight: $base-font-weight;
  line-height: 1.1;
  padding-top: $spacing-unit;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

@include media-query($bp-sm-lap) {
  h1 {
    font-size: -webkit-calc(#{$h1} * (#{$type-ratio}));
    font-size:         calc(#{$h1} * (#{$type-ratio}));
  }

  h2 {
    font-size: -webkit-calc(#{$h2} * (#{$type-ratio}));
    font-size:         calc(#{$h2} * (#{$type-ratio}));
  }

  h3 {
    font-size: -webkit-calc(#{$h3} * (#{$type-ratio}));
    font-size:         calc(#{$h3} * (#{$type-ratio}));
  }
}
